{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}



{% block content %}
<a class="sound-link" href="https://soundcloud.com/user-418357564">soundcloud</a>
<a class="band-link" href="https://bullyfae.bandcamp.com/releases">bandcamp</a>
<div class="fullscreen">
  <div class="video-screen">
    <div class="wrapper">
      <iframe src="//player.vimeo.com/video/{{cms.videobackground.vimeo_video_id}}?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="soundcloud">

<svg viewBox="0 0 600 50" height="150px">

    <!-- Symbol -->
    <symbol id="s-text">
       <text class="soundcloud-text" text-anchor="left" x="5px" y="20px" >
         soundcloud
       </text>
        <text class="bandcamp-text" text-anchor="right" x="5px" y="42px" >
         bandcamp
        </text>
    </symbol>

    <!-- Duplicate symbols -->
    <use xlink:href="#s-text" class="text"></use>
    <use xlink:href="#s-text" class="text"></use>


</svg>
</div>



{% endblock %}
